@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root{
    --primary-color: #ff0000;
    --dark-theme: #0f0f0f;
    --base-font-family: "Poppins", sans-serif;
    --base-font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: var(--base-font-size);
}

body{
    background-color: var(--dark-theme);
    display: flex;
    flex-direction: column;
    font-family: var(--base-font-family);
    height: 200vh;
}


/*! header start*/
header{
    border-bottom: 1px solid #717171;
    position: fixed;
    width: 100%;
    z-index: 11;
    background: var(--dark-theme);
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left h3 {
    font-size: 20px;
    color:var(--primary-color);
    margin-left: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 60px;
}

header i {
    font-size: 20px;
    color: white;
}

.header-center{
    display: flex;
    align-items: center;
}

.header-search{
    border: 1px solid #717171;
    padding: 6px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-right: 12px;
}   
     
.header-search input{
    background-color: var(--dark-theme);
    border: none;
    outline: none;
}

.header-search .bi-search{
    font-size: 18px;
    margin-right: 4px;
    cursor: pointer;
}

.header-center .bi-mic{
    background-color: #909090;
    /*padding: 10px; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-right{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-right .bi-bell{
    position: relative;
}

.header-right .bi-bell::after{
    content: "1";
    background-color: var(--primary-color);
    color: white;
    font-size: .65em;
    padding: 4px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -8px;
}

.header-right .avatar{
    width: 32px;
    height: 32px;
}

.header-right .avatar img {
    width: 100%;
    border-radius: 100%;
}
/*! header end  */

.content{
    display: flex;
    margin-top: 60px;
}

/*! sidebar start  */

.sidebar{
    height: 100vh;
    border-right: 1px solid #717171;
    width: 100px;
    position: fixed;
    z-index: 10;
    background-color: var(--dark-theme);
    transform: translateX(-200px);
    animation: sidebar .7s forwards ease-in-out;
}

@keyframes sidebar{
    to{
        transform: translateX(0);
    }
}

.sidebar-item {
    margin-top: 15px;
}

.sidebar-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: .5s ease color;
}

.sidebar-item a:hover {
    color: var(--primary-color) !important;
}

.sidebar-links .sidebar-item :nth-child(2) a:link
{
    color: var(--primary-color);
}

.sidebar-links .sidebar-item :nth-child(2) a:focus
{
    color: blue;
}

/*
.sidebar-item a:hover {
    color: red;
}

.sidebar-item a span:hover {
    color: #ff0000;
}

.sidebar-item a i:hover {
    color: #ff0000;
}
*/

.sidebar i{
    font-size: 20px;
}

.sidebar-item span{
    font-size: 12px;
    margin-top: 5px;
}
/*! sidebar end  */


/*! videos start */

.videos{
    margin: 20px;
    flex: 1;
    margin-left: 120px;
}

.video-list{
    color: white;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    position: relative;
    top: -1000px;
    animation: videoList .7s forwards ease-in-out;
}

@keyframes videoList{
    to{
        top: 0;
    }
}

.video-list-item{
    transition: transform .5s ease-in;
    cursor: pointer;
}

.video-list-item:hover{
    transform: scale(1.1);
}

.video-image{
    position: relative;
    display: flex;
}

.video-image img{
    width: 100%;
}

.video-image span{
    position: absolute;
    bottom: 6px;
    right: 6px;
    padding: 0 4px;
    background-color: var(--dark-theme);
    font-size: 12px;
}

.video-texts{
    display: flex;
    row-gap: 6px;
    flex-direction: column;
    margin: 4px;
}

.video-texts a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold
}

.video-texts span{
    font-size: 12px;
}

/*! videos end */


/*? responsive start */
@media (max-widty: 768px){
    .sidebar{
        display: none;
    }

    .videos{
        margin-left: unset;
    }
}
/*? responsive end*/